<form action="" class="contact-form" id="contact-form">
      <div class="inputs">
         <div class="input-wrap">
            <svg><use xlink:href="img/dist/svg-sprite.svg#icon-user"></use></svg>
            <input type="text" name="user_name" placeholder="Your Name" id="contact_name">
            <div class="input-message">Enter your name, please</div>
         </div>
         <div class="input-wrap">
            <svg><use xlink:href="img/dist/svg-sprite.svg#icon-phone"></use></svg>
            <input type="text" name="user_phone" placeholder="Your Phone" id="contact_phone">
            <div class="input-message input-phone"></div>
         </div>
      </div>

      <div class="input-wrap">
         <svg><use xlink:href="img/dist/svg-sprite.svg#icon-email"></use></svg>
         <input type="text" name="user_email" placeholder="Your Email" id="contact_email">
         <div class="input-message"></div>
      </div>

      <div class="input-wrap">
         <svg><use xlink:href="img/dist/svg-sprite.svg#icon-write-message"></use></svg>
         <textarea name="user_message" placeholder="Your Message" id="contact_message"></textarea>
         <div class="input-message"></div>
      </div>

      <input type="submit" value="Submit" class="section-button large-btn submit-btn" id="submit_contact">
</form>