<div class="slider-wrap">
   <div class="main-slider-for">
      <div class="slide first-slide">
         <div class="bg-pattern"></div>
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="section-title main-md-title">Welcome! This is Smarty</h2>
               <p class="section-text main-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
               <button class="i-button main-btn">
                  <span>Learn more</span>
                  <svg><use xlink:href="img/dist/svg-sprite.svg#btn-arrow"></use></svg>
               </button>
            </div>
         </div>
      </div>

      <div class="slide second-slide">
         <div class="bg-pattern"></div>
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="section-title main-xxl-title colorfull-title">Sale</h2>
               <h3 class="section-subtitle main-lg-subtitle">Duis autem vel eum iriure Lorem ipsum dolor</h3>
               <p class="section-text main-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
               <button class="i-button dark main-btn">
                  <span>Learn more</span>
                  <svg><use xlink:href="img/dist/svg-sprite.svg#btn-arrow"></use></svg>
               </button>
            </div>
         </div>
      </div>

      <div class="slide third-slide">
         <div class="bg-pattern"></div>
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="section-title main-xl-title colorfull-title">For Women</h2>
               <h3 class="section-subtitle main-lg-subtitle">Duis autem vel eum iriure Lorem ipsum dolor</h3>
               <button class="i-button dark main-btn">
                  <span>Learn more</span>
                  <svg><use xlink:href="img/dist/svg-sprite.svg#btn-arrow"></use></svg>
               </button>
            </div>
         </div>
      </div>

      <div class="slide fourth-slide">
         <div class="bg-pattern"></div>
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="section-title main-xl-title">Sexy Dresses</h2>
               <h3 class="section-subtitle main-lg-subtitle">Claritas processus</h3>
               <button class="i-button dark main-btn">
                  <span>Learn more</span>
                  <svg><use xlink:href="img/dist/svg-sprite.svg#btn-arrow"></use></svg>
               </button>
            </div>
         </div>
      </div>
   </div>

   <!-- счетчик слайдера -->
   <div class="slider-counter">
      <div class="current-slide slider-numbers"></div> 
      <span>/</span>
      <div class="slide-count slider-numbers"></div>
   </div>

   <!-- slick arrows -->
   <div class="slick-arrows"></div>

   <div class="main-slider-nav">
      <div class="slide">
         <img src="img/dist/home-slide1.webp" alt="">
         <div class="slide-content-wrap"></div>
      </div>

      <div class="slide">
         <img src="img/dist/blog/blog-post6.webp" alt="">
         <div class="slide-content-wrap"></div>
      </div>
         
      <div class="slide">
         <img src="img/dist/home-slide6.webp" alt="">
         <div class="slide-content-wrap"></div>
      </div>   
      
      <div class="slide">
         <img src="img/dist/home-slide4.webp" alt="">
         <div class="slide-content-wrap"></div>
      </div>  
   </div>
</div>