
<nav class="menu">
   <div class="menu-content">
      <div class="logo">
         <div class="logo-img"><img src="img/dist/logo.webp" alt="Logo"></div>
         <!-- <div class="logo-name"></div> -->
      </div>
   
      <ul class="menu-list one">
         <li><a href="/">Home</a></li>
         <li><a href="page-about.html">About Us</a></li>
         <li><a href="page-services.html">Services</a></li>
         <li><a href="page-team.html">Our Team</a></li>
         <li>
            <a href="page-portfolio.html">Portfolio</a>
            <ul class="menu-list__1">
               <li><a href="page-portfolio.html">Portfolio 1</a></li>
               <li><a href="page-portfolio.html">Portfolio 2</a></li>
            </ul>
         </li>
         <li>
            <a href="page-blog.html">Blog</a>
            <ul class="menu-list__1">
               <li><a href="page-blog.html">Blog 2</a></li>
            </ul>
         </li>
         <li>
            <a href="page-develop.html">Develop</a>
            <!-- <ul class="menu-list__1">
               <li><a href="">Hover</a></li>
               <li><a href="">Animation</a></li>
            </ul> -->
         </li>
         <li><a href="page-contact.html">Contact</a></li>
         <li><a href="page-components.html">Components</a></li>
      </ul>
   
      <div class="widget social-widget">
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#telegram"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#instagram"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#twitter"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#facebook"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#vkontakte"></use></svg></a>
      </div>
   
      <div class="copyright">
         <p>Copyright &copy; 2014 <a href="#">Danila Rose</a>. All Rights Reserved.</p>
      </div>
   </div>
</nav>
