<div class="pagination">
   <div class="pages">
      <div class="pages-nav prev"><svg><use xlink:href="img/dist/svg-sprite.svg#page-arrow-left"></use></svg></div>

      <div class="page">01</div>
      <div class="page current">02</div>
      <div class="page swimming-two">03</div>
      <div class="page swimming">04</div>
      <div class="page no-hover">...</div>
      <div class="page">63</div>

      <div class="pages-nav next"><svg><use xlink:href="img/dist/svg-sprite.svg#page-arrow-right"></use></svg></div>
   </div>
   <div class="count-pages">
      <div class="current">Page<span>2</span></div>
      <div class="all-pages">of<span>10</span></div>
   </div>
</div>