<aside class="sidebar">
   <!-- виджет категорий -->
   <div class="widget category-widget">
      <h3 class="widget-title">CATEGORY</h3>
      <div class="widget-content">
         <ul class="category-list">
            <li>
               <a href="" class="category hover-after">
                  <span class="name">Photography</span>
                  <span class="posts-count">675</span>
               </a>
            </li>
            
            <li>
               <a href="" class="category hover-after">
                  <span class="name">Fashion style</span>
                  <span class="posts-count">2065</span>
               </a>
            </li>

            <li>
               <a href="" class="category hover-after">
                  <span class="name">Video</span>
                  <span class="posts-count">136</span>
               </a>
            </li>

            <li>
               <a href="" class="category hover-after">
                  <span class="name">Music</span>
                  <span class="posts-count">968</span>
               </a>
            </li>
         </ul>
      </div>
   </div>

   <!-- виджет постов -->
   <div class="widget widget-posts">
      <h3 class="widget-title">POPULAR POSTS</h3>
      <div class="widget-content">
         <a href="" class="widget-post-link">
            <article>
               <div class="widget-article-img"><img src="img/dist/blog/sidebar-post1.webp" alt="Alexandra Daddario"></div>
               <h4 class="widget article-title">Duis autem vel eum iriure hendrerit in vulputate</h4>
            </article>
         </a>

         <a href="" class="widget-post-link">
            <article>
               <div class="widget-article-img"><img src="img/dist/blog/sidebar-post2.webp" alt="Alexandra Daddario"></div>
               <h4 class="widget article-title">Lorem ipsum dolor sit amet, consectetuer</h4>
            </article>
         </a>

         <a href="" class="widget-post-link">
            <article>
               <div class="widget-article-img"><img src="img/dist/blog/sidebar-post3.webp" alt="Alexandra Daddario"></div>
               <h4 class="widget article-title">Claritas est etiam processus dynamicus sequitur</h4>
            </article>
         </a>
      </div>
   </div>

   <!-- виджет текст -->
   <div class="widget widget-text">
      <h3 class="widget-title">TEXT WEDGET</h3>
      <div class="widget-content">
         <div class="widget-text-content">
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.</p>
            <a href="#">Read More <svg><use xlink:href="img/dist/svg-sprite.svg#read-more-arrow"></use></svg> </a>
         </div>
      </div>
   </div>

   <!-- виджет последних работ -->
   <div class="widget widget-flickr">
      <h3 class="widget-title">FLICKR WEDGET</h3>
      <div class="widget-content">
         <div class="widget-flickr-content">
            <div class="row flickr-row">
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img1.webp" alt=""></a>
               </div>
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img2.webp" alt=""></a>
               </div>
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img3.webp" alt=""></a>
               </div>
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img4.webp" alt=""></a>
               </div>
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img5.webp" alt=""></a>
               </div>
               <div class="col-4 flickr-col">
                  <a href="" class="flickr-link"><img src="img/dist/blog/flickr-img6.webp" alt=""></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</aside> 