<div class="skills animate">
   <div class="skill">
      <div class="skill-title">HTML <span class="value" data-percent="97">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>

   <div class="skill">
      <div class="skill-title">CSS <span class="value" data-percent="95">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>

   <div class="skill">
      <div class="skill-title">JavaScript <span class="value" data-percent="65">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>

   <div class="skill">
      <div class="skill-title">Vue <span class="value" data-percent="49">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>

   <div class="skill">
      <div class="skill-title">TypeScript <span class="value" data-percent="50">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>

   <div class="skill">
      <div class="skill-title">Wordpress <span class="value" data-percent="55">0%</span></div>
      <div class="outside-line">
         <div class="inside-line"></div>
      </div>
   </div>
</div>